<h1><strong>Batman login page</strong></h1>

<%=form_with(scope: :session, url: login_path) do |f|%>
  <p><%=f.label "username:"%>
  <%=f.text_field :username, value: "Batman"%></p>
  <p><%=f.label "password:"%>
  <%=f.password_field :password%></p>
  <%=f.submit "Sign in"%>
<% end %>
