<head>
  <h1 class="container mt-2 text-center"><b>Welcome to crime reporting portal</b></h1>
  <%if logged_in?%>
    <%r_count=0%>
    <%u_count=0%>
    <%@crimes.each do |c|%>
      <%if c.resolved?%>
        <%r_count += 1%>
      <%else%>
        <%u_count +=1%>
      <%end%>
    <% end %>
    <h3>
      <p>resolved crimes:<%=r_count%></p>
      <p>unresolved crimes:<%=u_count%></p>
      <p>Total crimes:<%=r_count + u_count%></p>
    </h3>
  <% end %>
  <h2>List of all the crimes:</h2>
  <style type="text/css">
  td {
    padding: 0 15px;
  }
</style>
</head>
<table class="table table-bordered container mb-4 border-dark">
  <thead>
    <tr>
      <td><b>crime type</b></td>
      <td><b>crime city</b></td>
      <td><b>crime locality</b></td>
      <td><b>crime priority</b></td>
      <td><b>Actions</b></td>
    </tr>
  </thead>
  <tbody>
    <% @crimes.each do |crime|%>
      <tr>
        <td><%=link_to crime.crime_type, crime_path(crime)%></td>
        <td><%=link_to crime.locality.city.city, city_path(crime.locality.city)%></td>
        <td><%=link_to crime.locality.locality, locality_path(crime.locality)%></td>
        <% if crime.priority == "high"%>
          <td class="text-danger"><b><%=crime.priority%></b></td>
          <% elsif crime.priority == "medium"%>
          <td class="text-warning"><b><%=crime.priority%></b></td>
          <% else%>
          <td class="text-success"><b><%=crime.priority%></b></td>
        <% end %>
        <td>
          <%=link_to 'View', crime, class: "btn btn-outline-success"%>
          <%=link_to 'Edit', edit_crime_path(crime), class: "btn btn-outline-primary"%>
          <%=link_to 'Delete', crime, class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="text-center p-2">
  <%=link_to 'Add new city', new_city_path, class: "btn btn-success"%>
  <%unless logged_in?%>
    <%=link_to 'Report a new crime', new_crime_path, data: {controller: 'crime-modal'}, class: "btn btn-primary"%>
    <%=link_to 'Batman login', login_path, class: "btn btn-secondary"%>
  <% end %>
</h2>
